.app {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.app-content {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 160px);
  padding-top: var(--header-height);
}
